body {
    margin: 0;
}

.balloon-animation {
    position: relative;
    background-color: #00e7ff;
    width: 100vw;
    height: 100vh;
}

.flying-cloud {
    position: absolute;
    width: 25%;
}

.flying-balloon {
    position: absolute;
    width: 20%;
    top: 20%;
    left: 50%;
}

.flying-cloud:nth-child(1) {
    left: 20%;
    top: 30%;
}

.flying-cloud:nth-child(2) {
    left: 24%;
}

.flying-cloud:nth-child(3) {
    left: 33%;
    top: 25%;
    z-index: 1;
}

.flying-cloud:nth-child(4) {
    left: 60%;
}

.flying-cloud:nth-child(5) {
    top: 25px;
    left: 50%;
    z-index: 1;
}

.flying-cloud:nth-child(6) {
    top: 50%;
    left: 40%;
}